.content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media(max-width: $mantine-breakpoint-sm) {
    display: flex;
    align-items: center;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;

  @media(max-width: $mantine-breakpoint-sm) {
    display: flex;
    flex-direction: column;
  }
}

.text {
  font-size: rem(20px);
  font-weight: bold;
  text-align: center;
  line-height: 1.8;

  @media(max-width: $mantine-breakpoint-sm) {
    font-size: rem(18px);
  }
}
